.SharedLayout{
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #0C0C0C;
  font-size: 10rem; /* TODO - remove this from here just for the test */ 
  color: white; /* TODO - remove this from here just for the test */ 
}